@import url("http://localhost/AllInOne/i_css/i/root.css");
/* 
    Created on : 5 may. 2021, 7:00:03 p. m.
    Author     : neury-dev
*/
/*
    Maquetado
*/
.n-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% auto;
    grid-gap:0.625em;
    /*background-color: #2196F3;*/
}
.n-grid > section { /*background-color: var(--n-color);*/ }
.n-grid > .area-1 { grid-area: 1 / span 4 / 2 / 5; }
.n-grid > .area-2 { grid-area: 2 / span 4 / 3 / 5; }
.n-grid > .area-3 { grid-area: 3 / span 2 / 4 / 3; }
.n-grid > .area-4 { grid-area: 3 / span 2 / 4 / 5; }
.n-grid > .area-5 { grid-area: 4 / span 4 / 5 / 5; }
/*
    Areas
*/
/*
    Header......................................................................
*/
.n-grid > .area-1 > header {
    position: relative;
    z-index: 1;
    font-size: 1em;
    text-shadow: var(--n-sombra-de-texto);
    padding: 3em 0em 0em 3em;
    transition: var(--n-transicion);
}
.n-grid > .area-1 > header > :nth-child(1), 
/*.n-grid > .area-1 > header > :nth-child(2),*/ 
.n-grid > .area-1 > header > :nth-child(3), 
.n-grid > .area-1 > header > :nth-child(4) {
    margin: 0;
}
.n-grid > .area-1 > header > :nth-child(1) {
    color: var(--n-color);
    font-size: 1.50em;
    text-shadow: var(--n-sombra-de-texto-tres);
    opacity: 0.5;
}
.n-grid > .area-1 > header > :nth-child(2) { 
    font-size: 3em;
    margin-top: 0.17em;
    margin-bottom: 0.17em;
}
.n-grid > .area-1 > header > :nth-child(3) { color: var(--n-color-tres); font-size: 2.10em; }
.n-grid > .area-1 > header > :nth-child(4) {
    color: var(--n-color-tres);
    font-size: 1.10em;
    font-style: italic;
}
@media screen and (max-width: 400px) {
    .n-grid > .area-1 > header {
        font-size: 0.80em;
        padding: 1.50em 0em 0em 1.50em;
    }
    .n-grid > .area-1 > header > :nth-child(4) { text-shadow: none; }
}
/*
    Main........................................................................
*/
.n-grid > .area-2 > main {
    position: relative;
    z-index: 1;
    font-size: 1em;
    padding: 3em 0em 0em 3em;
    transition: var(--n-transicion);
}
.n-grid > .area-2 > main > .circulo {
    float: left;
    background-color: var(--n-color);
    width: 150px;
    height: 150px;
    margin: 1em;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.n-grid > .area-2 > main > .circulo > .foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    filter: grayscale(100%);
}
.n-grid > .area-2 > main > h3, 
.n-grid > .area-2 > main > h4, 
.n-grid > .area-2 > main > p {
    margin: 0;
}
.n-grid > .area-2 > main > h3 {
    color: var(--n-color);
    margin-bottom: 1.50em;
    text-shadow: var(--n-sombra-caja-dos);
} 
.n-grid > .area-2 > main > h4 { text-shadow: var(--n-sombra-de-texto); }
.n-grid > .area-2 > main > p {
    color: var(--n-color-tres);
    font-size: 0.80em;
    margin-bottom: 1.50em;
}
@media screen and (max-width: 440px) {
    .n-grid > .area-2 > main {
        font-size: 0.80em;
        padding: 2.50em 0em 0em 1.50em;
    }
    .n-grid > .area-2 > main > .circulo {
        width: 100px;
        height: 100px;
        margin: 0.50em;
    }
    .n-grid > .area-2 > main > .circulo > .foto {
        width: 100px;
        height: 100px;
    }
    .n-grid > .area-2 > main > h3 {
        margin-bottom: 0.75em;
    } 
    .n-grid > .area-2 > main > p {
        margin-bottom: 0.75em;
    }
}
/*
    Article.....................................................................
*/
.n-grid > .area-3 {
    position: relative;
    z-index: 1;
    font-size: 1em;
    padding: 3em 0em 0em 3em;
    transition: var(--n-transicion);
}
.n-grid > .area-3 > h3 {
    color: var(--n-color);
    margin-bottom: 1.50em;
    text-shadow: var(--n-sombra-caja-dos);
}
.n-grid > .area-3 > .svg-desarrollos {
    float: left;
    width: 150px;
    height: 150px;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.n-grid > .area-3 > article {
    float: none;
    margin-bottom: 1em;
    
}
.n-grid > .area-3 > article > :nth-child(1), 
.n-grid > .area-3 > article > :nth-child(2), 
.n-grid > .area-3 > article > :nth-child(3) {
    margin: 0;
}
.n-grid > .area-3 > article > :nth-child(1) { line-height: 130%; }
.n-grid > .area-3 > article > :nth-child(2) {
    color: var(--n-color-tres);
    font-size: 0.50em;
    line-height: 130%;
}
.n-grid > .area-3 > article > :nth-child(3) {
    color: var(--n-color-tres);
    font-size: 0.70em;
}
.n-grid > .area-3 > article.trasladar {
    /*transform: translate(0.75em, 0em);*/
}
/*
    Diapositiva
*/
.n-grid > .area-3 > h3 > span.iconos {
    display: inline-block;
    vertical-align: middle;
}
.n-grid > .area-3 > h3 > span.iconos > .icono {
    font-size: 1.50em;
}
.n-grid > .area-3 > .formas, 
.n-grid > .area-3 > .iconos > .icono {
    display: none;
} 
.n-grid > .area-3 > img.slide-1,
.n-grid > .area-3 > img.slide-2,
.n-grid > .area-3 > img.slide-3,
.n-grid > .area-3 > img.slide-4,
.n-grid > .area-3 > img.slide-5 {
    float: left;
    width: 200px;
    height: 350px;
    shape-margin: 0.75em;
}
.area-3 > img.slide-1 {
    shape-outside: url(i_img/i/blob-1.png);
    clip-path: url(i_img/i/blob-1.png);
}
.area-3 > img.slide-2 {
    shape-outside: url(i_img/i/blob-2.png);
    clip-path: url(i_img/i/blob-2.png);
}
.area-3 > img.slide-3 {
    shape-outside: url(i_img/i/blob-3.png);
    clip-path: url(i_img/i/blob-3.png);
}
.area-3 > img.slide-4 {
    shape-outside: url(i_img/i/blob-4.png);
    clip-path: url(i_img/i/blob-4.png);
}
.area-3 > img.slide-5 {
    shape-outside: url(i_img/i/blob-5.png);
    clip-path: url(i_img/i/blob-5.png);
}
@media screen and (min-width: 320px) and (max-width: 600px){
    .n-grid > .area-3 {
        font-size: 0.80em;
        padding: 2em 0em 0em 1.50em;
    }
    .n-grid > .area-3 > h3 {
        margin-bottom: 0.75em;
    }
    .n-grid > .area-3 > .svg-desarrollos {
        width: 100px;
        height: 100px;
    }
    .n-grid > .area-3 > article {
        margin-bottom: 0.50em;

    }
    .n-grid > .area-3 > article.trasladar {
        transform: translate(0.50em, 0em);
    }
    .n-grid > .area-3 > img.slide-1,
    .n-grid > .area-3 > img.slide-2,
    .n-grid > .area-3 > img.slide-3,
    .n-grid > .area-3 > img.slide-4,
    .n-grid > .area-3 > img.slide-5,
    .n-grid > .area-3 > img.slide-6,
    .n-grid > .area-3 > img.slide-7,
    .n-grid > .area-3 > img.slide-8,
    .n-grid > .area-3 > img.slide-9,
    .n-grid > .area-3 > img.slide-10 {
        width: 120px;
        height: 250px;
    }
}
@media screen and (max-width: 319px){
    .n-grid > .area-3 {
        display: none;
    }
}
/*
    Aside.......................................................................
*/
.n-grid > .area-4 {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    font-size: 1em;
}
.n-grid > .area-4 > aside {
    background-color: var(--n-color-dos);
    width: 350px;
    height: 250px;
    border-radius: var(--n-radio);
}
.n-grid > .area-4 > aside > p.pregunta {
    position: relative;
    top: 2em;
    z-index: 1;
    color: var(--n-color);
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}
.n-grid > .area-4 > aside > p > span {
    opacity: 0.0;
    cursor: cell;
}
.n-grid > .area-4 > aside > p.respuesta {
    position: relative;
    z-index: 1;
    color: var(--n-color-dos);
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    text-shadow: var(--n-sombra);
}
svg#izquierda {
    position: absolute;
    z-index: 0;
    transform: translate(1.00em, 4.50em);
}
svg#derecha {
    position: absolute;
    z-index: 0;
    transform: translate(25.10em, 4.90em);
}
svg > text.n-hacer {
    fill: var(--n-color-dos);
    /*font-family: Vertana;*/
    font-size: 2em;
}
aside:hover svg > text.n-hacer { 
    stroke: var(--n-color);
    transition: all 2.8s ease-in-out;
    animation-name:quieres;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
@keyframes quieres {
    from {
        stroke-dashoffset: 1000;
        stroke-dasharray: 1000;
        fill: var(--n-color);
    }
    to {
        stroke-dashoffset: 0;
        stroke-dasharray: 0;
        fill: var(--n-color-dos);
    }
}
@media screen and (min-width: 320px) and (max-width: 850px){
    .n-grid > .area-3 { grid-area: 3 / span 4 / 4 / 5; }
    .n-grid > .area-4 { grid-area: 4 / span 4 / 5 / 5; }
    .n-grid > .area-5 { grid-area: 5 / span 4 / 6 / 5; }
    
    .n-grid > .area-4 {
        background-color: var(--n-color-dos);
        background-image: linear-gradient(to bottom, white, #1c1d22, white);
    }
    .n-grid > .area-4 > aside {
        background-color: transparent;
    }
}
@media screen and (max-width: 366px){
    .n-grid > .area-5 { grid-area: 4 / span 4 / 5 / 5; }
    
    .n-grid > .area-4 {
        display: none;
    }
}
/*
    Footer......................................................................
*/
.n-grid > .area-5 {
    position: relative;
    z-index: 0;
    margin-top: -12em;
}
.svg-footer {
    position: relative;
    left: 0;
    z-index: 0;
    width: 100%;
}
footer {
    position: absolute;
    bottom: 0em;
    z-index: 1;
    width: 100%;
    text-shadow: var(--n-sombra-de-texto-dos);
}
footer > hr {
    width: 70%;
    opacity: 0.1;
}
footer > p {
    color: var(--n-color);
    font-size: 70%;
    text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 850px){
    .n-grid > .area-5 {
        margin-top: 0em;
    }
}
/*
    SVG.........................................................................
*/
.n-svg-1 {
    position: absolute;
    top: -4.50em;
    right: 0;
    z-index: 0;
    background-repeat: no-repeat;
    overflow: hidden;
}
/*
    Resolución no apta..........................................................
*/
@media screen and (min-width: 320px) {
    .n-resolucion {
        display: none;
    }
}
@media screen and (max-width: 319px) {
    .n-svg-1,
    .n-grid > section { 
        display: none;
    }
    .n-resolucion {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .n-resolucion > img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .n-resolucion > .no-apta,
    .n-resolucion > p > .no-apta {
        font-family: var(--n-fuente-tres);
        font-weight: bold;
    }
}
