@import url("http://localhost/AllInOne/i_css/i/root.css");
/* 
    Created on : 26 sept. 2020, 17:34:26
    Author     : desarrollador
*/
/*@import url("root.css");*/
/*
    pantalones
*/
div#n-pantalones {
    background-image: url("front-img/tienda/img_snow_wide.jpg");
    background-image: linear-gradient(to right, var(--n-color), var(--n-color), var(--n-color-dos));
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    background-size: cover;
}
div#n-pantalones > aside {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to right, var(--n-color), var(--n-color), transparent);
    width: 100%;
    height: 100%;
    overflow: auto;
}
div#n-pantalones > aside > section {
    width: 12.80em;
    padding: 7.50em 3em 0em 0em;
}
div#n-pantalones > aside > section > h2 {
    color: var(--n-color-dos);
    font-family: var(--n-fuente);
    font-size: 1.20em;
}
div#n-pantalones > aside > section > h3 > a {
    color: var(--n-color-dos);
    font-family: var(--n-fuente);
    font-size: 0.80em;
    text-decoration: none;
}
div#n-pantalones > aside > section > h3 > a:hover {
    color: var(--n-color);
    text-shadow: var(--n-sombra-de-texto-dos);
}
div#n-pantalones > aside > section > ol {
    list-style: none;
    padding: 0;
}
div#n-pantalones > aside > section > ol > li > a {
    color: var(--n-color-dos);
    font-family: var(--n-fuente-dos);
    font-size: 0.90em;
    text-decoration: none;
}
div#n-pantalones > aside > section > ol > li > a:hover {
    color: var(--n-color-tres);
    font-weight: bold;
}
/*
    boletín informativo
    y
    suscribir
*/
div#n-boletin, div#n-subscribir {
    background-image: url("front-img/tienda/img_snow_wide.jpg");
    background-image: linear-gradient(to right, var(--n-color), var(--n-color), var(--n-color-dos));
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    background-size: cover;
}
div#n-boletin > aside, div#n-subscribir > aside {
    position: absolute;
    top: 50%;
    /*left: 50%;*/
    transform: translateY(-50%);
    /*background-image: linear-gradient(to right, var(--n-color), var(--n-color), transparent);*/
    /*width: 100%;*/
    /*height: 100%;*/
    overflow: auto;
}
div#n-boletin > aside > h2, div#n-subscribir > aside > h2 {
    color: var(--n-color-dos);
    font-family: var(--n-fuente);
    font-size: 1.20em;
}
div#n-boletin > aside > p, div#n-subscribir > aside > p {
    color: var(--n-color-dos);
    font-family: var(--n-fuente-dos);
    font-size: 0.80em;
    text-decoration: none;
    width: 24em;
}
div#n-boletin > aside > form > p > input, div#n-subscribir > aside > form > p > input { 
    caret-color: var(--n-color-dos); 
    font-family: var(--n-fuente-dos);
    font-size: 0.80em;
    width: 24em;
    border: 0.10em solid var(--n-color-dos);
    border-radius: 0.50em;
    padding: 0.60em;
    outline: none;
}
::placeholder { 
    color: var(--n-color-tres);
}
div#n-boletin > aside > form > p > input:valid, div#n-subscribir > aside > form > p > input:valid {
    color: var(--n-color);
    background: var(--n-color-dos);
}
div#n-boletin > aside > form > p > input:invalid, div#n-subscribir > aside > form > p > input:invalid {
    color: var(--n-color-rojo);
    background: var(--n-color);
}
div#n-boletin > aside > form > button, div#n-subscribir > aside > form > button {
    color: var(--n-color);
    background-color: var(--n-color-dos);
    font-family: var(--n-fuente);
    font-size: 0.90em;
    width: 21.28em;
    border: none;
    border-radius: 0.50em;
    padding: 0.50em;
}
div#n-boletin > aside > form > button:hover, div#n-subscribir > aside > form > button:hover {
    color: var(--n-color-dos);
    background-color: var(--n-color-tres);
    text-shadow: var(--n-sombra-de-texto);
}
