@import url("http://localhost/AllInOne/i_css/i/root.css");
/* 
    Created on : 14 sept. 2020, 16:27:03
    Author     : neury-dev
*/
header {
    position: fixed;
    width: 20%;
    height: 100%;
    overflow-y: auto;
}
header > h1 > a {
    color: var(--n-color-dos);
    font-family: var(--n-fuente-tres);
    font-size: 2.125em;
    width: auto;
    margin: -1.50em 0em 0em 0em;
    padding: 0em 0em 0em 0.70em;
    text-shadow: var(--n-sombra-de-texto-dos);
    letter-spacing: -0.145em;
    /*transform:matrix(1, 0, 0, 1.8, 0, 10);*/
    transition: var(--n-transicion);
}
span.n-vertical {
    color: var(--n-color);
    font-size: 0.26em;
    margin: 0em 0em 0em -0.14em;
    writing-mode: sideways-lr;
    text-shadow: var(--n-sombra-de-texto-dos);
    letter-spacing: 0em;
    transition: var(--n-transicion);
}
span.n-one {
    margin: 0em 0em 0em -0.14em;
}
header > h1 > a:hover {
    color: white;
}
h1:hover .n-vertical {
    color: var(--n-color-dos);
    background-color: var(--n-color-dos);
    border-radius: 0.4em;
    text-shadow: var(--n-sombra-de-texto);
}
header > section.n-uno {
    display: flex;
    flex-direction: column;
    margin: 4em 0 0 0em;
}
header > section.n-uno > button {
    background-color: var(--n-color);
    text-align: left;
    margin: 0em auto 0em 3em;
    border: none;
    padding: 1.50em 0em 0em 0em;
}

header > section.n-uno > button.n-categoria:hover {
    color: var(--n-color-tres);
    font-weight: bold;
}
button.n-categoria-activa {
    color: var(--n-color-tres);
    font-weight: bold;
}
button.n-categoria-activa:before {
    content: '\2717';/*2573, 2613, 2612, 2715, 2716, 2717, 2718*/
    color: var(--n-color-rojo);
}
/* header section (2)
--------------------------------------------------------------------------------*/
header > section.n-dos {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 8.50em;
}
header > section.n-dos > a, 
header > section.n-dos > button {
    font-size: 0.75em;
    text-align: left;
    padding: 0.50em 0em 0em 4.50em;
}
header > section.n-dos > a {
    color: var(--n-color-dos);
}
header > section.n-dos > button {
    background-color: var(--n-color);
    border: none;
}
header > section.n-dos > a:hover {
    color: var(--n-color-tres);
    font-weight: bold;
}
/* media query
--------------------------------------------------------------------------------*/
@media screen and (min-width: 70em) {
    .n-maximo {
        display: block;
        display: inline-block;
    }
    .n-minimo {
        display: none;
    }
}
@media screen and (max-width: 69.99em) {
    .n-maximo {
        display: none;
    }
    .n-minimo {
        display: block;
        display: inline-block;
    }
    header > h1 > a {
        font-size: 1.125em;
        padding: 1.50em 0em 0em 0.10em;
        writing-mode: sideways-lr;
    }
    span.n-vertical {
        writing-mode: horizontal-tb;;
        letter-spacing: 0em;
    }
    header > section.n-uno {
        margin: 0em;
    }
    header > section.n-uno > button {
        background-color: var(--n-color);
        font-size: 1.30em;
        margin: 0em auto 0em 0.50em;
        border: none;
        padding: 0.50em 0em 0em 0em;
    }
/* header section (2)
--------------------------------------------------------------------------------*/
    header > section.n-dos {
        top: 25em;
        width: auto;
    }
    header > section.n-dos > a, 
    header > section.n-dos > button {
        font-size: 1.30em;
        padding: 0.40em 0em 0em 0.50em;
    }
}