@import url("http://localhost/AllInOne/i_css/i/root.css");
/* 
    Created on : 14 sept. 2020, 17:09:54
    Author     : desarrollador
*/
/*@import url("root.css");*/
main {
    width: 100%;
    padding: 0em 3em 3em 0em;
}
main > div.n-diapositivas { display: none; }
main > div > img {
    width: 100%;
    height: 35em;
    vertical-align: middle;
    border-radius: 1em;
    object-fit: cover;
}
main > button.n-anterior, main > button.n-siguiente {
    position: absolute;
    top: 13.34em;
    color: var(--n-color);
    background: transparent;
    font-size: 2.50em;
    border: none;
    border-radius: 0em 0.1875em 0.1875em 0em;
    transition: var(--n-transicion);
    text-shadow: var(--n-sombra-de-texto-dos);
}
main > button.n-anterior {
    right: 8.50em;
}
main > button.n-siguiente {
    right: 2.10em;
}
main > button.n-anterior:hover, main > button.n-siguiente:hover {
    transform: scale(1.60,2);
}
main > section.n-puntos-contenedor {
    position: absolute;
    top: 33.70em;
    right: 7em;
}
main > section.n-puntos-contenedor > button.n-punto {
    color: transparent;
    background-color: var(--n-color-dos-uno);
    font-family: var(--n-fuente-tres);
    font-size: 0.75em;
    border: none;
    border-radius: 7em;
    padding: 0.80em 0.60em 0.80em 0.60em;
    transition: var(--n-transicion);
}
main > section.n-puntos-contenedor > button.n-punto > span.n-actual {
    transition: all 2s ease-in-out;
}
.n-activo, main > section.n-puntos-contenedor > button.n-punto:hover {
    color: var(--n-color);
    /*background-color: var(--n-color-dos);*/
}
/*main > section > div > p.n-texto {
    position: absolute;
    top: 23em;
    z-index: 2;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
}*/
main > div.n-desvanecerse {
    -webkit-animation-name: desvanecerse;
    -webkit-animation-duration: 1.5s;
    animation-name: n-desvanecerse;
    animation-duration: 1.5s;
}
@-webkit-keyframes desvanecerse {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes desvanecerse {
    from {opacity: .4} 
    to {opacity: 1}
}
/*@media only screen and (max-width: 300px) {
    main > section > button.n-anterior, main > section > button.n-siguiente, 
    main > section > div > p.n-texto { font-size: 11px; }
}*/
@media screen and (max-width: 69.99em) {
    main {
        padding: 0em 0.50em 0.50em 0.50em;
    }
    main > div > img {
        height: 30em;
    }
    main > button.n-anterior, main > button.n-siguiente {
        top: 15.46em;
        font-size: 1.90em;
    }
    main > button.n-anterior {
        right: 7.70em;
    }
    main > button.n-siguiente {
        right: 0.90em;
    }
    main > section.n-puntos-contenedor {
        top: 29.70em;
        right: 4em;
    }
    main > section.n-puntos-contenedor > button.n-punto {
        font-size: 0.50em;
    }
}