/* 
    Created on : 20 abr. 2021, 14:39:58
    Author     : neury-dev
*/
.n-grid {
    display: grid;
    grid-template-columns: 250px 750px;
    grid-gap: 0.10em;  
    
    position: absolute;
    top: 6em;
    left: 50%;
    transform: translateX(-50%);
    /*width: calc(100% - 4em);*/
    border-radius: var(--n-radio);
}
/*.n-grid > section { border: 0.10em solid var(--n-color-dos); }*/ 
.n-grid > .area-1 { grid-area: 1 / 1 / span 2 / span 1; }
.n-grid > .area-2 { grid-area: 1 / 2 / span 1 / span 1; }
.n-grid > .area-3 { grid-area: 2 / 2 / span 1 / span 1; }
.n-grid > .area-3 { display: none; }

.n-grid > .area-1 > nav > div {
    margin-bottom: 2em;
}
.n-grid > .area-1 > nav > div > img {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 0.10em;
    border-radius: 50%;
}
.n-grid > .area-1 > nav > div > div > form > button {
    background-color: var(--n-color);
    font-weight: bold;
    margin-top: 2em;
}
.n-grid > .area-2 > main {
    background-color: var(--n-color-dos);
    border-radius: var(--n-radio);
    padding: 3em;
}
.n-grid > .area-2 > main > .yo { color: var(--n-color); }
.n-grid > .area-2 > main > .yo > img {
    float: right;
    width: 24px;
    height: 24px;
    margin: 0.10em;
    border-radius: 50%;
}
.n-grid > .area-2 > main > .yo > div > span {
    float: right; 
    font-size: 0.60em; 
}
.n-grid > .area-2 > main > .yo > div > h6 { 
    float: right; 
    font-size: 0.60em; 
    text-align: right;
    margin: 0;
    margin-top: -0.75em;
}
.n-grid > .area-2 > main > .yo > div > p {
    font-size: 0.70em;
    text-align: right;
    margin-top: 0.50em;
    margin-right: 1.50em;
    border-right: 0.10em solid var(--n-color);
    padding-right: 1.50em;
    clear: both;
}
.n-grid > .area-2 > main > .usuario { color: var(--n-color); }
.n-grid > .area-2 > main > .usuario > img {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 0.10em;
    border-radius: 50%;
}
.n-grid > .area-2 > main > .usuario > div > span { font-size: 0.60em; }
.n-grid > .area-2 > main > .usuario > div > h6 { margin: 0; font-size: 0.60em; }
.n-grid > .area-2 > main > .usuario > div > p {
    font-size: 0.70em;
    margin-left: 1.50em;
    border-left: 0.10em solid var(--n-color);
    padding-left: 1.50em;
}





.form-container::after, .container::after {
    content: "";
    clear: both;
    display: table;
}

/*
    * formulario
*/
.person > section {
    display: flex;
    flex-direction: column;
/*    flex-wrap: wrap;
    align-content: space-around;*/
}
.form-container {
    z-index: 4;
    background-color: var(--n-color);
    width: 100%;
    border-radius: 0.50em;
    padding: 10px;
    /*box-shadow: var(--n-sombra-caja-dos);*/
}
.form-container label {
    color: var(--n-color-dos);
    font-family: var(--n-fuente);
    font-size: 0.80em;
}
/* Full-width textarea */
.form-container textarea {
    color: var(--n-color-dos);
    background: var(--n-color-tres-uno);
    font-family: var(--n-fuente-dos);
    font-size: 0.80em;
    width: 100%;
    /*min-height: 200px;*/
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 0.50em;
    padding: 15px;
    resize: none;
}
.form-container textarea:focus {
    color: var(--n-color);
    background-color: var(--n-color-tres);
    outline: none;
}
/* Set a style for the submit/send button */
.form-container .btn {
    font-family: var(--n-fuente);
    font-size: 0.80em;
    width: 100%;
    margin-bottom: 0.50em;
    border: none;
    border-radius: 0.50em;
    padding: 0.40em;
}
.form-container .send {
    color: var(--n-color);
    background-color: var(--n-color-verde);
}
.form-container .send:hover {
    color: var(--n-color-verde);
    background-color: var(--n-color);
    text-shadow: var(--n-sombra-verde);
    box-shadow: var(--n-sombra-caja-verde);
}
.form-container .cancel {
    color: var(--n-color);
    background-color: var(--n-color-rojo);
}
.form-container .cancel:hover {
    color: var(--n-color-rojo);
    background-color: var(--n-color);
    text-shadow: var(--n-sombra-roja);
    box-shadow: var(--n-sombra-caja-roja);
}
