/* 
    Created on : 31 dic. 2020, 10:27:51
    Author     : neury-dev
*/
.n-grid > .area-3 > :nth-child(2),
.n-grid > .area-3 > :nth-child(3), 
.n-grid > .area-3 > :nth-child(4) {
    margin-top: 8em;
}
.n-grid > .area-3 > section { margin: 0em 6em 0em 6em; }
.n-grid > .area-3 > section > h5 { border-bottom: 0.10em solid var(--n-color-dos-uno); }
.n-grid > .area-3 > section > h5 > small {
    color: var(--n-color-verde);
    font-family: var(--n-fuente-tres);
    font-weight: normal;
    letter-spacing: normal;
    /*transform: scaleY(1) !important;*/ 
}
.n-grid > .area-3 > section > h5 > small > span { color: var(--n-color-rojo); }
.n-grid > .area-3 > section > form > label, 
.n-grid > .area-3 > section > form > input, 
.n-grid > .area-3 > section > form > select,
.n-grid > .area-3 > section > form > button {
    font-size: 0.80em;
}
.n-grid > .area-3 > section > form > input, 
.n-grid > .area-3 > section > form > select {
    color: var(--n-color);
    background-color: var(--n-color-tres-uno);
    width: 100%;
    margin-bottom: 1.50em;
    border-radius: var(--n-radio);
    padding: var(--n-relleno);
}
.n-grid > .area-3 > section > form > input:focus { color: var(--n-color); background-color: var(--n-color-tres); }
.n-grid > .area-3 > section > form > button {
    color: var(--n-color);
    background-color: var(--n-color-dos);
    font-weight: bold;
    width: 100%;
    margin-top: 0.20em;
    border-radius: var(--n-radio);
    padding: var(--n-relleno);
}
.n-grid > .area-3 > section > form > button:hover {
    color: var(--n-color-dos);
    background-color: var(--n-color-tres);
    text-shadow: var(--n-sombra-de-texto);
}