/* 
    Created on : 26 dic. 2020, 16:10:17
    Author     : neury-dev
*/
/*
    Cuadricula Principal
*/
.n-grid {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-auto-rows: 20em 5em auto;
    /*grid-gap: 0.10em;*/  
    position: absolute;
    top: 6em;
    left: 2em;
    /*width: calc(100% - 4em);*/
    width: 100%;
}
/*.n-grid > section { border: 0.10em solid var(--n-color-dos); }*/ 
.n-grid > .area-1 { grid-area: 1 / 1 / span 1 / span 1; }
.n-grid > .area-2 { grid-area: 2 / 1 / span 1 / span 1; }
.n-grid > .area-3 { grid-area: 1 / 2 / span 3 / span 1; }
.n-grid > .area-4 { grid-area: 3 / 1 / span 1 / span 1; }
/*main { width: 100%; }*/
.n-grid > .area-1 > main > img {
    position: absolute;
    object-fit: cover;
    width: 50%;
    height: 20em;
    border-radius: var(--n-radio);
}
.n-grid > .area-1 > main > .contenedor {
   position: relative;
   top: 12em;
   z-index: 1;
}
.n-grid > .area-1 > main > .contenedor > img.foto {
    float: left;
    position: relative;
    z-index: 1;
    width: 8em;
    height: 8em;
    border-radius: 50% 50% 50% 0.50em;
}
/*.n-grid > .area-1 > main > .contenedor > h2 {
    position: relative;
    top: 5.80em;
    z-index: 0;
    color: var(--n-color-dos);
    background-color: var(--n-color-uno-uno);
    font-family: var(--n-fuente-tres);
    font-size: 1.10em;
}*/
/*.n-grid > .area-1 > main > .contenedor > .perfil-nav {
    position: relative;
    top: 4.20em;
    left: 26em;
}*/
.n-grid > .area-1 > main > .contenedor > .perfil-nav {
    position: relative;
    top: 4.70em;
    /*left: -8em;*/
    z-index: 1;
}
.n-grid > .area-1 > main > .contenedor > .perfil-nav > form > button[type="submit"],
.n-grid > .area-1 > main > .contenedor > .perfil-nav > button {
    float: left;
    color: var(--n-color-dos);
    background-color: var(--n-color-uno-uno);
    font-size: 1.10em;
    border: none;
    padding: 1em;
    border-radius: 50% 50% 50% 0.20em;
    cursor: pointer;
}
/* Perfil > maquetado
--------------------------------------------------------------------------------*/
.n-grid > .area-4 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 8em auto;
}
.n-grid > .area-4 > .sesion-1 { grid-area: 1 / 1 / span 1 / span 2; }
.n-grid > .area-4 > .sesion-2 { grid-area: 1 / 2 / span 1 / span 1; }
.n-grid > .area-4 > .sesion-3 { grid-area: 2 / 2 / span 1 / span 1; }
/* Perfil > contenido
--------------------------------------------------------------------------------*/
.n-grid > .area-4 > section > h2 {
    font-family: var(--n-fuente);
    font-size: 1.10em;
}
.n-grid > .area-4 > .sesion-1 > :nth-child(3) {
    color: var(--n-color-verde);
    font-style: italic;
    text-decoration: underline;
}
.n-grid > .area-4 > section > h4 {
    /*color: var(--n-color-dos);*/
    /*font-family: var(--n-fuente-dos);*/
    /*font-size: 0.80em;*/
}
.n-grid > .area-4 > section > p {
    /*color: var(--n-color-dos);*/
/*    font-family: var(--n-fuente-dos);*/
    /*font-size: 0.80em;*/
}