/* 
    Created on : 26 dic. 2020, 17:07:31
    Author     : neury-dev
*/
/*.n-grid > .area-2 > article > :nth-child(2) {
    margin-top: 3em;
}*/
.n-grid > .area-3 > div {
    margin: 3em 6em 0em 6em;
}
.n-grid > .area-3 > div > article {
    margin-top: 3em;
}
.n-grid > .area-3 > div > article > .articulo-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.n-grid > .area-3 > div > article > .articulo-head > section > img.foto {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 0.10em;
    border-radius: 50%;
}
.n-grid > .area-3 > div > article > .articulo-head > section > div {
    float: left;
    position: relative;
    top: 0.50em;
}
.n-grid > .area-3 > div > article > .articulo-head > section > div > span {
    float: left;
    color: var(--n-color-dos-uno);
    font-size: 0.70em;
}
.n-grid > .area-3 > div > article > .articulo-head > section > div > h6 {
    margin: 0;
}
.n-grid > .area-3 > div > article > .articulo-head > section > div > h6 > span {
    color: var(--n-color-dos-uno);
    font-weight: normal;
    font-size: 0.70em;
    transform: scaleY(0); 
    letter-spacing: normal;
}
/*.n-grid > .area-3 > div > article > .articulo-head > section > span {
    color: var(--n-color-dos);
    font-family: var(--n-fuente-dos);
    font-size: 0.70em;
}*/
.n-grid > .area-3 > div > article > .articulo-head > section > button {
    background-color: var(--n-color);
}
.n-grid > .area-3 > div > article > .articulo-body {
    margin: 0em 0em 1em 0em;
}
.n-grid > .area-3 > div > article > .articulo-body > p {
    /*font-size: 0.90em;*/
}
.n-grid > .area-3 > div > article > .articulo-body > img {
    border-radius: var(--n-radio);
}
.n-grid > .area-3 > div > article > .articulo-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
}
.n-grid > .area-3 > div > article > .articulo-footer  > section > button {
    background-color: var(--n-color);
}
.n-grid > .area-3 > div > article > .articulo-footer  > section > form > button {
    background-color: var(--n-color);
}
.n-grid > .area-3 > div > article > .articulo-footer  > section > span {
    margin: 0em 0.70em 0em 0em;
}
/* Comentarios
--------------------------------------------------------------------------------*/
.ocultar {display:none}
.mostrar {display:block!important}


.n-grid > .area-3 > div > .comentarios  {
/*    display: flex;
    flex-direction: row;
    justify-content: space-between;*/
    margin: 0em 1.50em 0em 1.50em;
}
.n-grid > .area-3 > div > .comentarios > section {
/*    float: left;
    position: relative;
    top: 0.50em;*/
    color: var(--n-color);
    background-color: var(--n-color-dos);
    border-radius: var(--n-radio);
    padding: var(--n-relleno);
}
.n-grid > .area-3 > div > .comentarios > section > .comentario::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 1em;
}
.n-grid > .area-3 > div > .comentarios > section > div > img.foto {
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 0.10em;
    border-radius: 50%;
}
.n-grid > .area-3 > div > .comentarios > section > div > div > span {
    font-size: 0.60em;
}
.n-grid > .area-3 > div > .comentarios > section > div > div > h6 {
    margin: 0;
    font-size: 0.60em;
}
.n-grid > .area-3 > div > .comentarios > section > .comentario > p {
    font-size: 0.60em;
}
/*
    Comentar
*/
textarea {
    color: var(--n-color);
    background-color: var(--n-color-tres);
    width: 100%;
    border: none;
    border-radius: var(--n-radio);
    padding: 0.625em;
    resize: none;
}
textarea:focus {
    outline: none;
}
#comentar {
    color: var(--n-color);
    background-color: var(--n-color-dos);
    font-family: var(--n-fuente);
    font-size: 0.90em;
    width: 100%;
    margin-top: 0.50em;
    border: none;
    border-radius: var(--n-radio);
    padding: var(--n-relleno);
    outline: none;
    cursor: pointer;
}
#comentar:hover {
    color: var(--n-color);
    background-color: var(--n-color);
    text-shadow: var(--n-sombra-de-texto-dos);
}