@import url("http://localhost/AllInOne/i_css/i/root.css");
/* 
    Created on : 26 dic. 2020, 17:07:31
    Author     : neury-dev
*/
/*.n-grid > .area-2 > article > :nth-child(2) {
    margin-top: 3em;
}*/
.n-grid > .area-2 > article {
    margin: 3em 6em 0em 6em;
}
.n-grid > .area-2 > article > section > article {
    margin-top: 3em;
}
.n-grid > .area-2 > article > section > article > .articulo-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.n-grid > .area-2 > article > section > article > .articulo-head > section > img.foto {
    float: left;
    width: 3em;
    height: 3em;
    margin-right: 0.10em;
    border-radius: 50%;
}
.n-grid > .area-2 > article > section > article > .articulo-head > section > span {
    float: left;
    position: relative;
    top: 1.40em;
    color: var(--n-color-dos-uno);
    font-family: var(--n-fuente-dos);
    font-size: 0.70em;
}
.n-grid > .area-2 > article > section > article > .articulo-head > section > h2 {
    /*float: left;*/
    position: relative;
    top: 1.20em;
    color: var(--n-color-dos);
    font-family: var(--n-fuente-tres);
    font-size: 0.90em;
    font-weight: bold;
}
.n-grid > .area-2 > article > section > article > .articulo-head > section > h2 > span {
    color: var(--n-color-dos-uno);
    font-weight: normal;
}
/*.n-grid > .area-2 > article > section > article > .articulo-head > section > span {
    color: var(--n-color-dos);
    font-family: var(--n-fuente-dos);
    font-size: 0.70em;
}*/
.n-grid > .area-2 > article > section > article > .articulo-head > section > button {
    color: var(--n-color-dos);
    background-color: var(--n-color);
    font-size: 0.90em;
    border: none;
}
.n-grid > .area-2 > article > section > article > .articulo-body {
    margin: 0em 0em 1em 0em;
}
.n-grid > .area-2 > article > section > article > .articulo-body > h3 {
    color: var(--n-color-dos);
    font-family: var(--n-fuente-dos);
    font-size: 0.90em;
    font-weight: bold;
}
.n-grid > .area-2 > article > section > article > .articulo-body > p {
    color: var(--n-color-dos);
    font-family: var(--n-fuente-dos);
    font-size: 0.90em;
}
.n-grid > .area-2 > article > section > article > .articulo-body > img {
    /*margin: 0em 0em 1em 0em;*/
}
.n-grid > .area-2 > article > section > article > .articulo-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
}
.n-grid > .area-2 > article > section > article > .articulo-footer  > section > button {
    color: var(--n-color-dos);
    background-color: var(--n-color);
    font-size: 1.30em;
    border: none;
}
.n-grid > .area-2 > article > section > article > .articulo-footer  > section > form > button {
    color: var(--n-color-dos);
    background-color: var(--n-color);
    font-size: 1.30em;
    border: none;
}
.n-grid > .area-2 > article > section > article > .articulo-footer  > section > span {
    color: var(--n-color-dos);
    font-size: 0.90em;
    margin: 0em 0.70em 0em 0em;
}
/*
    Comentarios
*/
.ocultar {display:none}
.mostrar {display:block!important}
.comentario {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.comentario::after {
    content: "";
    clear: both;
    display: table;
}
.comentario > img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}
.time-right {
    float: right;
    color: #aaa;
}
/*
    Comentar
*/
textarea {
    color: var(--n-color);
    background-color: var(--n-color-tres);
    width: 100%;
    border: none;
    border-radius: 0.40em;
    padding: 0.625em;
    resize: none;
}
textarea:focus {
    outline: none;
}
#comentar {
    color: var(--n-color);
    background-color: var(--n-color-dos);
    font-family: var(--n-fuente);
    font-size: 0.90em;
    width: 100%;
    margin-top: 0.50em;
    border: none;
    border-radius: 0.50em;
    padding: 0.50em;
    outline: none;
    cursor: pointer;
}
#comentar:hover {
    color: var(--n-color);
    background-color: var(--n-color);
    text-shadow: var(--n-sombra-de-texto-dos);
}