/* 
    Created on : 19 dic. 2020, 16:13:17
    Author     : neury-dev
*/
header { text-align: center; width: 100%; }
h1 > a  {
    color: var(--n-color-dos);
    font-family: var(--n-fuente-tres);
    font-size: 2.40em;
    font-weight: bold;
    text-shadow: var(--n-sombra-de-texto-dos);
    text-decoration: none;
    outline: none;
    letter-spacing: -0.145em;
}
h1 > a:hover { color: var(--n-color); }
header > p {
    color: var(--n-color-rojo);
    font-weight: bold;
}
h3 { font-weight: bold; }
.n-form-contenedor {
    position: relative;
    padding: 1.25em 0 1.875em 0;
} 
.n-form-contenedor > form > .fila:after {
    content: "";
    display: table;
    clear: both;
}
.n-form-contenedor > .fila > .linea {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 0.125em solid var(--n-color-dos);
    height: 15em;
}
.n-form-contenedor > .fila > .linea > span {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--n-color);
    background-color: var(--n-color-tres);
    border: 0.10em solid var(--n-color-dos);
    border-radius: 50%;
    padding: 0.50em 0.625em;
}
.n-form-contenedor > .fila > .columna > form {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 3.125em;
    margin-top: 0.375em;
}
.n-form-contenedor > .fila > .columna > form > .input-contenedor {
    display: flex;
    width: 100%;
    margin-bottom: 0.9375em;
}
.n-form-contenedor > .fila > .columna > form > .input-contenedor > input {
    width: 100%;
    border: none;
    border-radius: var(--n-radio);
    padding: 0.625em;
    display: inline-block;
}
.n-form-contenedor > .fila > .columna > form > .input-contenedor > input:focus {
    color: var(--n-color);
    background-color: var(--n-color-tres);
}
.n-form-contenedor > .fila > .columna > form > .input-contenedor > i {
    color: var(--n-color);
    background-color: var(--n-color-dos);
    text-align: center;
    min-width: 3.125em;
    border-radius: var(--n-radio);
    padding: 0.625em;
}
.n-form-contenedor > .fila > .columna > form > button {
    color: var(--n-color);
    background-color: var(--n-color-dos);
    font-weight: bold;
    width: 100%;
    border-radius: var(--n-radio);
    padding: var(--n-radio);
}
.n-form-contenedor > .fila > .columna > form > button:hover {
    color: var(--n-color-dos);
    background-color: var(--n-color-tres);
    text-shadow: var(--n-sombra-de-texto);
}
@media screen and (max-width: 650px) {
    .n-form-contenedor > .fila > .columna > form { width: 100%; }
    .n-form-contenedor > .fila > .linea { display: none; }
}  
