@import url("http://localhost/AllInOne/front-css/root.css");
/* 
    Created on : 1 dic. 2020, 15:58:45
    Author     : desarrollador
*/
*, *:before, *:after { 
    box-sizing: border-box;     
}
body {
    background-color: var(--n-color-dos);
    margin: 0;
    overflow-x: hidden;
}
h1 > a  {
    position: fixed;
    top: 0;
    color: var(--n-color-dos);
    background-color: var(--n-color-tres);
    font-family: var(--n-fuente-tres);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: auto;
    padding: 0.20em 1em 0.20em 1em;
    border-radius: 0.40em;
    text-shadow: var(--n-sombra-de-texto-dos);
    letter-spacing: -0.145em;
}
h1 > a:hover { color: var(--n-color-tres); }
h2 {
    color: var(--n-color);
    font-family: var(--n-fuente);
    margin-top: 4em;
    margin-left: 2em;
}
pre {
/*    position: absolute;*/
    left: 8em;
    background-color: var(--n-color);
    min-width: calc(100% - 16em);
    border-radius: 1em;
}
/*
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
*/
/*div {
  content: "";
  clear: both;
  display: table;
}
div > pre {
  content: "";
  clear: both;
  display: table;
}
div > pre > code {
  content: "";
  clear: both;
  display: table;
}
div::after {
  content: "";
  clear: both;
  display: table;
}
div > pre::after {
  content: "";
  clear: both;
  display: table;
}
div > pre > code::after {
  content: "";
  clear: both;
  display: table;
}*/