 @import url("http://localhost/AllInOne/i_css/root.css");
/* 
    Created on : 5 may. 2021, 7:00:03 p. m.
    Author     : neury-dev
*/
/*
    Maquetado
*/
.n-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    /*background-color: #2196F3;*/
    padding: 10px;
}
.n-grid > section {
    /*background-color: var(--n-color);*/
    /*text-align: center;*/
    padding: 2em;
    /*font-size: 30px;*/
}
.area-1 { grid-area: 1 / span 3 / 2 / 4; }
.area-2 { grid-area: 2 / span 3 / 3 / 4; }
.area-3 { grid-area: 3 / 1 / 4 / 2; }
.area-4 { grid-area: 3 / 2 / 4 / span 2; }
.area-5 { grid-area: 4 / span 3 / 5 / 4; }
/*
    ........................
*/
h1, h2, h3, h4 {
    font-family: var(--n-fuente);
}
*:not(h1), *:not(h2), *:not(h3), *:not(h4) {
    font-family: var(--n-fuente-dos);
}
.n-grid > .area-1 > main  > article {
    padding: 2em 0em 0em 0em; 
}
.n-grid > .area-1 > main  > article > h4, .n-grid > .area-1 > main  > article > p {
    /*padding: 0em 0em 0em 2em;*/ 
}
/*
    Header
*/
.n-grid > .area-1 > header > :nth-child(1), 
.n-grid > .area-1 > header > :nth-child(2), 
.n-grid > .area-1 > header > :nth-child(3), 
.n-grid > .area-1 > header > :nth-child(4) {
    margin: 0;
}
.n-grid > .area-1 > header > :nth-child(1) {
    color: var(--n-color);
    font-family: var(--n-fuente-tres);
    font-size: 1.50em;
    text-shadow: -1px 0 #373538, 0 1px #373538, 1px 0 #373538, 0 -1px #373538;
    opacity: 0.5;
}
.n-grid > .area-1 > header > :nth-child(2) {
    color: var(--n-color-dos-uno);
    font-size: 3em;
}
.n-grid > .area-1 > header > :nth-child(3) {
    color: var(--n-color-tres-uno);
    font-size: 2.10em;
}
.n-grid > .area-1 > header > :nth-child(4) {
    color: var(--n-color-dos-uno);
    font-size: 1.10em;
}
/*
    Main
*/
.n-svg-1 {
    position: absolute;
    right: -12em;
    background-repeat: no-repeat;
}
.n-grid > .area-2 > main {
    width: 500px;
    /*background-color: var(--n-color-dos);*/
}
.n-grid > .area-2 > main > .circulo {
    float: left;
    background-color: var(--n-color);
    width: 40%;
    height: 200px;
    margin: 1em;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.n-grid > .area-2 > main > .circulo > .foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: grayscale(100%);
}
.n-grid > .area-2 > main > h3, 
.n-grid > .area-2 > main > h4, 
.n-grid > .area-2 > main > p {
    margin: 0;
}
.n-grid > .area-2 > main > h3 {
    color: var(--n-color);
    margin-bottom: 1.50em;
    text-shadow: var(--n-sombra-caja-dos);
} 
.n-grid > .area-2 > main > h4 {
    color: var(--n-color-dos-uno);
} 
.n-grid > .area-2 > main > p {
    color: var(--n-color-tres);
    font-size: 0.80em;
    margin-bottom: 1.50em;
}
/*
    Article
*/
.n-grid > .area-3 {
    margin-top: 4em;
}
.n-grid > .area-3 > h3 {
    color: var(--n-color);
    margin-bottom: 1.50em;
    text-shadow: var(--n-sombra-caja-dos);
}
.n-grid > .area-3 > .svg-desarrollos {
    float: left;
    width: 170px;
    height: 170px;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.n-grid > .area-3 > article {
    margin-bottom: 1em;
}
.n-grid > .area-3 > article > :nth-child(1), 
.n-grid > .area-3 > article > :nth-child(2), 
.n-grid > .area-3 > article > :nth-child(3) {
    /*margin: 0;*/
    margin: 0em 0em 0em 2em!important;
}
.n-grid > .area-3 > article > :nth-child(1) {
    color: var(--n-color-dos-uno);
    line-height: 130%;
}
.n-grid > .area-3 > article > :nth-child(2) {
    color: var(--n-color-tres-uno);
    font-size: 0.50em;
    line-height: 130%;
}
.n-grid > .area-3 > article > :nth-child(3) {
    color: var(--n-color-tres);
    font-size: 0.70em;
}
/*
    Diapositiva
*/
.iconos {
    position: absolute;
    top: 56em;
    left: 7em;
    /*z-index: 4;*/
}
.icono {
    position: relative;
/*    top: 50em;
    left: 10em;*/
    z-index: 4;
    color: var(--n-color-dos-uno);
    font-size: 7em;
}
.formas, 
.icono {
    display: none;
}
/*.mySlides > img {vertical-align: middle;}*/    
.area-3 > img.slide-1,
.area-3 > img.slide-2,
.area-3 > img.slide-3,
.area-3 > img.slide-4,
.area-3 > img.slide-5,
.area-3 > img.slide-6,
.area-3 > img.slide-7,
.area-3 > img.slide-8,
.area-3 > img.slide-9,
.area-3 > img.slide-10 {
    position: relative;
    z-index: 0;
    float: left;
    width: 250px;
    height: 250px;
    /*margin-right: 2em;*/
    /*opacity: 0.5;*/
    filter: grayscale(100%);
}
.area-3 > img.slide-1 {
    shape-outside: url(i_img/i/blob-1.png);
    clip-path: url(i_img/i/blob-1.png);
}
.area-3 > img.slide-2 {
    shape-outside: url(i_img/i/blob-2.png);
    clip-path: url(i_img/i/blob-2.png);
}
.area-3 > img.slide-3 {
    shape-outside: url(i_img/i/blob-3.png);
    clip-path: url(i_img/i/blob-3.png);
}
.area-3 > img.slide-4 {
    shape-outside: url(i_img/i/blob-4.png);
    clip-path: url(i_img/i/blob-4.png);
}
.area-3 > img.slide-5 {
    shape-outside: url(i_img/i/blob-5.png);
    clip-path: url(i_img/i/blob-5.png);
}
.area-3 > img.slide-6 {
    shape-outside: url(i_img/i/blob-6.png);
    clip-path: url(i_img/i/blob-6.png);
}
.area-3 > img.slide-7 {
    shape-outside: url(i_img/i/blob-7.png);
    clip-path: url(i_img/i/blob-7.png);
}
.area-3 > img.slide-8 {
    shape-outside: url(i_img/i/blob-8.png);
    clip-path: url(i_img/i/blob-8.png);
}
.area-3 > img.slide-9 {
    shape-outside: url(i_img/i/blob-9.png);
    clip-path: url(i_img/i/blob-9.png);
}
.area-3 > img.slide-10 {
    shape-outside: url(i_img/i/blob-10.png);
    clip-path: url(i_img/i/blob-10.png);
}





