 @import url("http://localhost/AllInOne/i_css/root.css");
/* 
    Created on : 5 may. 2021, 7:00:03 p. m.
    Author     : neury-dev
*/
/*
    Maquetado
*/
.n-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    /*background-color: #2196F3;*/
    padding: 10px;
}
.n-grid > section {
    /*background-color: var(--n-color);*/
    /*text-align: center;*/
    padding: 2em;
    /*font-size: 30px;*/
}
.area-1 { grid-area: 1 / span 3 / 2 / 4; }
.area-2 { grid-area: 2 / span 3 / 3 / 4; }
.area-3 { grid-area: 3 / 1 / 4 / 2; }
.area-4 { grid-area: 3 / 2 / 4 / span 2; }
.area-5 { grid-area: 4 / span 3 / 5 / 4; }
/*
    ........................
*/
h1, h2, h3, h4 {
    font-family: var(--n-fuente);
}
*:not(h1), *:not(h2), *:not(h3), *:not(h4) {
    font-family: var(--n-fuente-dos);
}
.n-grid > .area-1 > main  > article {
    padding: 2em 0em 0em 0em; 
}
.n-grid > .area-1 > main  > article > h4, .n-grid > .area-1 > main  > article > p {
    /*padding: 0em 0em 0em 2em;*/ 
}
/*
    Header
*/
.n-grid > .area-1 > header > :nth-child(1), 
.n-grid > .area-1 > header > :nth-child(2), 
.n-grid > .area-1 > header > :nth-child(3), 
.n-grid > .area-1 > header > :nth-child(4) {
    margin: 0;
}
.n-grid > .area-1 > header > :nth-child(1) {
    color: var(--n-color);
    font-family: var(--n-fuente-tres);
    font-size: 1.50em;
    text-shadow: -1px 0 #373538, 0 1px #373538, 1px 0 #373538, 0 -1px #373538;
    opacity: 0.5;
}
.n-grid > .area-1 > header > :nth-child(2) {
    color: var(--n-color-dos-uno);
    font-size: 3em;
}
.n-grid > .area-1 > header > :nth-child(3) {
    color: var(--n-color-tres-uno);
    font-size: 2.10em;
}
.n-grid > .area-1 > header > :nth-child(4) {
    color: var(--n-color-dos-uno);
    font-size: 1.10em;
}
/*
    Main
*/
.n-svg-1 {
    position: absolute;
    right: -12em;
    background-repeat: no-repeat;
}
.n-grid > .area-2 > main {
    width: 500px;
}
.n-grid > .area-2 > main > .circulo {
    float: left;
    background-color: var(--n-color);
    width: 40%;
    height: 200px;
    margin: 1em;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.n-grid > .area-2 > main > .circulo > .foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: grayscale(100%);
}
.n-grid > .area-2 > main > h3, 
.n-grid > .area-2 > main > h4, 
.n-grid > .area-2 > main > p {
    margin: 0;
}
.n-grid > .area-2 > main > h3 {
    color: var(--n-color);
    margin-bottom: 1.50em;
    text-shadow: var(--n-sombra-caja-dos);
} 
.n-grid > .area-2 > main > h4 {
    color: var(--n-color-dos-uno);
} 
.n-grid > .area-2 > main > p {
    color: var(--n-color-tres);
    font-size: 0.80em;
    margin-bottom: 1.50em;
}
/*
    Article
*/
.n-grid > .area-3 {
    margin-top: 4em;
}
.n-grid > .area-3 > h3 {
    color: var(--n-color);
    margin-bottom: 1.50em;
    text-shadow: var(--n-sombra-caja-dos);
}
.n-grid > .area-3 > .svg-desarrollos {
    float: left;
    width: 170px;
    height: 170px;
    margin: 0;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.n-grid > .area-3 > article {
    margin-bottom: 1em;
}
.n-grid > .area-3 > article > :nth-child(1), 
.n-grid > .area-3 > article > :nth-child(2), 
.n-grid > .area-3 > article > :nth-child(3) {
    margin: 0;
}
.n-grid > .area-3 > article > :nth-child(1) {
    color: var(--n-color-dos-uno);
    line-height: 130%;
}
.n-grid > .area-3 > article > :nth-child(2) {
    color: var(--n-color-tres-uno);
    font-size: 0.50em;
    line-height: 130%;
}
.n-grid > .area-3 > article > :nth-child(3) {
    color: var(--n-color-tres);
    font-size: 0.70em;margin: 0;
}
.n-grid > .area-3 > article.trasladar {
    transform: translate(1em, 0em);
}
/*
    Diapositiva
*/
.n-grid > .area-3 > h3 > span.iconos {
    display: inline-block;
    vertical-align: middle;
/*    position: absolute;
    top: 56em;
    left: 7em;*/
}
.n-grid > .area-3 > h3 > span.iconos > .icono {
    /*color: var(--n-color-dos-uno);*/
    font-size: 1.50em;
}
.n-grid > .area-3 > .formas, 
.n-grid > .area-3 > .iconos > .icono {
    display: none;
} 
.n-grid > .area-3 > img.slide-1,
.n-grid > .area-3 > img.slide-2,
.n-grid > .area-3 > img.slide-3,
.n-grid > .area-3 > img.slide-4,
.n-grid > .area-3 > img.slide-5,
.n-grid > .area-3 > img.slide-6,
.n-grid > .area-3 > img.slide-7,
.n-grid > .area-3 > img.slide-8,
.n-grid > .area-3 > img.slide-9,
.n-grid > .area-3 > img.slide-10 {
    float: left;
    width: 250px;
    height: 250px;
    margin-right: 4em;
}
.area-3 > img.slide-1 {
    shape-outside: url(i_img/i/blob-1.png);
    clip-path: url(i_img/i/blob-1.png);
}
.area-3 > img.slide-2 {
    shape-outside: url(i_img/i/blob-2.png);
    clip-path: url(i_img/i/blob-2.png);
}
.area-3 > img.slide-3 {
    shape-outside: url(i_img/i/blob-3.png);
    clip-path: url(i_img/i/blob-3.png);
}
.area-3 > img.slide-4 {
    shape-outside: url(i_img/i/blob-4.png);
    clip-path: url(i_img/i/blob-4.png);
}
.area-3 > img.slide-5 {
    shape-outside: url(i_img/i/blob-5.png);
    clip-path: url(i_img/i/blob-5.png);
}
.area-3 > img.slide-6 {
    shape-outside: url(i_img/i/blob-6.png);
    clip-path: url(i_img/i/blob-6.png);
}
.area-3 > img.slide-7 {
    shape-outside: url(i_img/i/blob-7.png);
    clip-path: url(i_img/i/blob-7.png);
}
.area-3 > img.slide-8 {
    shape-outside: url(i_img/i/blob-8.png);
    clip-path: url(i_img/i/blob-8.png);
}
.area-3 > img.slide-9 {
    shape-outside: url(i_img/i/blob-9.png);
    clip-path: url(i_img/i/blob-9.png);
}
.area-3 > img.slide-10 {
    shape-outside: url(i_img/i/blob-10.png);
    clip-path: url(i_img/i/blob-10.png);
}



/*

    Aside


    SVG................................................................................




*/
aside {
    background-image: url(i_img/i/blob-1.php);
    background-size: 100%, 100%;
    background-repeat:no-repeat;
}


rect#rect10 {
    opacity:1;
    vector-effect:none;
    fill:#c57885;
    fill-opacity:1;
    fill-rule:evenodd;
    stroke:#000000;
    stroke-width:5.29513884;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-dashoffset:0;
    stroke-opacity:1;
}
rect#rect10:hover {
    opacity:1;
    vector-effect:none;
    fill: var(--n-color);
    fill-opacity:1;
    fill-rule:evenodd;
    stroke: var(--n-color-dos);
    stroke-width:5.29513884;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-opacity:1;
    /*stroke-dashoffset: 1000;*/
    stroke-dasharray: 1000;
    animation-name: nHoverStroke;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}
@keyframes nHoverStroke {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}



path#path815 {
    fill:none;
    stroke:#ff0000;
    stroke-width:1.465;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
    stroke-miterlimit:4;
    stroke-dasharray:none;
}
path#path815:hover {
    fill:none;
    stroke: #000000;
    stroke-width:4.465;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
    stroke-miterlimit:4;
    stroke-dasharray: 1000;
}
