@import url("http://localhost/AllInOne/front-css/root.css");
/* 
    Created on : 20 abr. 2021, 12:23:28
    Author     : desarrollador
*/
/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 3;
}
/* Add styles to the form container */
.form-container {
    z-index: 4;
    background-color: var(--n-color);
    max-width: 300px;
    border-radius: 0.50em;
    padding: 10px;
    box-shadow: var(--n-sombra-caja-dos);
}
.form-container label {
    color: var(--n-color-dos);
    font-family: var(--n-fuente);
    font-size: 0.80em;
}
/* Full-width textarea */
.form-container textarea {
    color: var(--n-color-dos);
    background: var(--n-color-tres-uno);
    font-family: var(--n-fuente-dos);
    font-size: 0.80em;
    width: 100%;
    min-height: 200px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 0.50em;
    padding: 15px;
    resize: none;
}
.form-container textarea:focus {
    color: var(--n-color);
    background-color: var(--n-color-tres);
    outline: none;
}
/* Set a style for the submit/send button */
.form-container .btn {
    font-family: var(--n-fuente);
    font-size: 0.80em;
    width: 100%;
    margin-bottom: 0.50em;
    border: none;
    border-radius: 0.50em;
    padding: 0.40em;
}
.form-container .send {
    color: var(--n-color);
    background-color: var(--n-color-verde);
}
.form-container .send:hover {
    color: var(--n-color-verde);
    background-color: var(--n-color);
    text-shadow: var(--n-sombra-verde);
    box-shadow: var(--n-sombra-caja-verde);
}
.form-container .cancel {
    color: var(--n-color);
    background-color: var(--n-color-rojo);
}
.form-container .cancel:hover {
    color: var(--n-color-rojo);
    background-color: var(--n-color);
    text-shadow: var(--n-sombra-roja);
    box-shadow: var(--n-sombra-caja-roja);
}
